In [1]:
import pandas as pd
import numpy as np

In [22]:
df  = pd.read_csv('C:/Users/Rakhman/Anaconda3/dataBLE/soc.csv')
df

,user_id,age,sex,married,friends,subscriptions,photos,gifts,last_visit,followers,followings,posts,avg_likes,avg_comments,avg_views,target
0,b.bimbetov,18,male,yes,249,24,14,93,0,598,431,10,314,14,503,1
1,allbackoff,18,male,no,201,9,2,0,2,601,547,28,197,3,488,1
2,prokrasteenator,18,male,no,187,59,19,152,0,432,354,9,112,6,345,1
3,yasmink,18,female,no,321,38,2,0,0,344,415,69,60,1,230,1
4,birzhanpvvm,25,male,no,7308,803,192,0,0,866279,270,470,69188,1403,321260,1

In [5]:
def age_classifier(x):
    if x<18:
        return 0
    if x<25: 
        return 10
    if x<40:
        return 20
    if x<63:
        return 15
    return 5

def sex_classifier(x):
    return 1

def married_classifier(x):
    if x=='yes':
        return 10
    return 20

def friends_classifier(x):
    if x>500:
        return 25
    if x>200:
        return 15
    if x>100:
        return 10
    if x>20:
        return 5
    return 0

def subscriptions_classifier(x):
    if x>30:
        return 10
    if x>20:
        return 15
    if x>5:
        return 5
    if x>1:
        return 1
    return 0

def photos_classifier(x):
    if x>20:
        return 15
    if x>10:
        return 10
    if x>5:
        return 5
    if x>1:
        return 2
    return 0

def gifts_classifier(x):
    if x>10:
        return 10
    if x>1:
        return 5
    return 0

def last_visit_classifier(x):
    if x==0:
        return 20
    if x==1:
        return 15
    if x<5:
        return 5
    if x<10:
        return 1
    return 0

def followers_classifier(x):
    if x>20000:
        return 50
    if x>2000:
        return 30
    if x>1000:
        return 25
    if x>500:
        return 20
    if x>200:
        return 15
    if x>100:
        return 10
    if x>30:
        return 5
    if x>1:
        return 1
    return 0

def followings_classifier(x):
    return followers_classifier(x)

def avg_views_classifier(x):
    return followers_classifier(x)

def posts_classifier(x):
    if x>50:
        return 40
    if x>30:
        return 30
    if x>10:
        return 20
    if x>5: 
        return 10
    if x>0:
        return 5
    return 0

def avg_likes_classifier(x):
    if x>100:
        return 30
    if x>500:
        return 25
    if x>200:
        return 20
    if x>100:
        return 15
    if x>50:
        return 10
    if x>5:
        return 5
    if x>0:
        return 1
    return 0

def avg_comments_classifier(x):
    if x>100:
        return 30
    if x>50:
        return 20
    if x>20:
        return 15
    if x>5:
        return 10
    if x>0:
        return 5
    return 0

In [20]:
for i in df.columns:
    df[i].fillna(df[i].median())

TypeError: could not convert string to float: 'yes'